@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Courgette&family=DynaPuff:wght@400..700&family=Jersey+10&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Courgette&family=DynaPuff:wght@400..700&family=Jersey+10&family=Shadows+Into+Light&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&family=Comic+Neue:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Courgette&family=Doppio+One&family=DynaPuff&family=Jersey+10&family=Shadows+Into+Light&display=swap');

@font-face{
    font-family: "Fuente2";
    src: url("font/Starborn.ttf") format("truetype");
}

@font-face {
    font-family: 'Fuente1';
    src: url("font/PORKH___.TTF") format("truetype");
}

body {
    background-image: url(img/mex_f.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.fade {
    opacity: 0;
    transform: translateY(20px);
    filter: blur(8px);
    transition: opacity 0.8s ease, transform 0.9s ease;
    transition-delay: 0s;
}

.fade.visible{
    opacity: 1;
    transform: translateY(0);
    filter: blur(0);
}

.hp{
    background-image: url(img/bkhp.jpeg);
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

    max-width: 500px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    gap: 2px;
}

.hp h5{
    color: palevioletred;
    text-shadow: 0 0 5px rgb(50, 8, 31), 0 0 5px rgb(50, 8, 31);
}

a {
    color: #b14a72;
    text-decoration: none;
    font-family: "DynaPuff";
}

a:hover{
    color: #d88aa0;
    text-decoration: overline;
}

a:visited{
    color: #7f4f51;
}

header {

    width: 94%;
    height: 110px;
    background-image: url(img/ban.jpeg);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

header h1{
    text-align: center;
    font-family: "Fuente1", sans-serif;
    font-size: 29px;
    color: rgb(145,95,109);
}

.yei {
    width: 100%;
    height: auto;
    align-items: center;
}
.container{
    display: flex;
    background-color: rgb(255, 255, 255);
    flex-direction: column;
    align-items: center;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);

    max-width: 500px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    gap: 2px;
}

.video {
    position: absolute;
    left: 20px;
    top: 80px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.video iframe{
    width: 350px;
    height: 200px;
}

.video .rep{
    background-image: url(https://i.pinimg.com/1200x/3b/66/a4/3b66a4cc7e53fa73f145c8ad7dd1bfba.jpg);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    width: 350px;
    height: 400px;
    border-radius: 25px;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.3);
}

.video .rep h2{
    font-family: "Fuente2", sans-serif;
    font-size: 20px;
    text-align: center;
}

.video .rep h3{
    font-family: "Courgette";
    text-align: center;
    font-size: 17px;
}

.video .rep h4{
    font-family: "Comic Neue";
    font-weight: bold;
    font-size: 15px;
}

.imgs{
    position: absolute;
    right: 50px;
    top: 80px;
    width: 400px;

    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 350px;
    height: 350px;
}

.imgs img{
    width: 350px;
    height: 200px;
}

.rep::before {
    content: "♡ ♡ ♡";
    display: block;

    color: #3d0d26;
    letter-spacing: 8px;

    margin-bottom: 5px;
}

.rep::after {
    content: "╰(≧∀≦)つ──♪  ♫  ♪  ♫";
    display: block;

    color: #321323;
    margin-top: 15px;
}

.container p{
    font-family: "Comic Neue", cursive;
    margin: 10px;
    padding: 20px;
    font-size: 18px;
    text-align: center;
}

.container #ante {
    display: flex;
    left: 50%;
    background-image: url(img/bk2.jpeg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    gap: 2px;
}

.container #ante li {
    font-family: "Courgette";
    font-weight: bold;
}

.container #Consecuencias{
    display: flex;
    left: 50%;
    background-image: url(img/bk1.jpeg);
    box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.3);
    flex-direction: column;
    align-items: center;
    width: 250px;
    margin: 0 auto;
    padding-left: 5px;
    padding-right: 5px;
    gap: 2px;
}

h5 {
    font-size: 20px;
    font-family: "Fuente2", sans-serif;
}

.container #Consecuencias p{
    font-family: "Courgette";
}

.container header{
    margin: 10px;
    padding: 20px;
    font-size: 20px;
    text-align: center;
    font-family: "Doppio One", sans-serif;
}

.title1{
  font-family: "Courgette", cursive;
}

p{
    font-family: "Comic Neue", cursive;
}

